<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget1
      class="card card-xl-stretch mb-xl-8"
    ></app-tables-widget1>
  </div>
  <!-- end::Col -->

  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget2
      class="card card-xl-stretch mb-5 mb-xl-8"
    ></app-tables-widget2>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget3
      class="card card-xl-stretch mb-xl-8"
    ></app-tables-widget3>
  </div>
  <!-- end::Col -->

  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget4
      class="card card-xl-stretch mb-5 mb-xl-8"
    ></app-tables-widget4>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget5
      class="card card-xl-stretch mb-xl-8"
    ></app-tables-widget5>
  </div>
  <!-- end::Col -->

  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget6
      class="card card-xl-stretch mb-5 mb-xl-8"
    ></app-tables-widget6>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget7
      class="card card-xl-stretch mb-xl-8"
    ></app-tables-widget7>
  </div>
  <!-- end::Col -->

  <!-- begin::Col -->
  <div class="col-xl-6">
    <app-tables-widget8
      class="card card-xl-stretch mb-5 mb-xl-8"
    ></app-tables-widget8>
  </div>
  <!-- end::Col -->
</div>
<!-- end::Row -->

<app-tables-widget9 class="card mb-5 mb-xl-8"></app-tables-widget9>
<app-tables-widget10 class="card mb-5 mb-xl-8"></app-tables-widget10>
<app-tables-widget11 class="card mb-5 mb-xl-8"></app-tables-widget11>
<app-tables-widget12 class="card mb-5 mb-xl-8"></app-tables-widget12>
<app-tables-widget13 class="card mb-5 mb-xl-8"></app-tables-widget13>
